<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/borrarPokemon.css"/>
</head>
<body>
  <pre id="mensaje">El pokemon
ha sido borrado con éxito</pre>
  <input type="button" onclick="location.href='http://127.0.0.1:8080/';" id="boton-home"/>
</body>
</html>