<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/filtro.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
	<input type="button" onclick="location.href='http://127.0.0.1:8080/';" id="boton-home"/>
    <select class="styled-select select blue rounded" id="dynamic_select">
    	<option value="" selected>Elige un pokemon</option>
    {{#pokemons}}
        <option value="http://127.0.0.1:8080/pokemon?name={{name}}">{{name}}</option> 
    {{/pokemons}}
    </select>
	<script>
	    $(function(){
	      // bind change event to select
	      $('#dynamic_select').on('change', function () {
	          var url = $(this).val(); // get selected value
	          if (url) { // require a URL
	              window.location = url; // redirect
	          }
	          return false;
	      });
	    });
	</script>
</body>
</html>