<!DOCTYPE html>
<html>
<body>

{{#pokemon}}
        <p>El nombre del pokemon es: {{name}}</p>
        <p>La generacion del pokemon es: {{generation}}</p>
        <p>El numero de pokedex del pokemon es: {{pokedex_number}}</p>
        <p>Su tipo1 es : {{type1}}</p>
        <p>Su tipo2 es : {{type2}}</p>
        <p><a href="http://127.0.0.1:8080/borrarPokemon?name={{name}}">Pincha aqui para eliminar el pokemon de la base de datos</a></p>
        <a href="http://127.0.0.1:8080/">Pincha aqui para volver a la pagina principal</a>
        <img src="../imagenesPokemon/{{pokedex_number}}.png" alt="Pokemon"> 
{{/pokemon}}


</body>
</html>