<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("https://i.imgur.com/iUHX9hO.png");
      background-size: 960px;
      background-repeat: no-repeat;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .send-button {
      height: 40px;
      position: relative;
      margin: -20px -50px;
      width: 100px;
      top: 50%;
      left: 50%;
    }

    .selectAgainst {
      width: 13em
    }

    .generacionSelect {
      position: relative;
      font-family: Arial;
    }

    .generacionSelect select {
      display: none; /*hide original SELECT element:*/
    }

    .select-selected {
      background-color: blue;
    }

    /*style the arrow inside the select element:*/
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #ffffff transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #000000 transparent;
      top: 70px;
    }

    /*style the items (options), including the selected item:*/
    .select-items div,.select-selected { /*letra de la opcion*/
      color: #ffffff;
      padding: 8px 16px; /*posicion letras*/
      border: 1px solid transparent;
      
      cursor: pointer;
      user-select: none;
    }

    /*style items (options):*/
    .select-items {
      position: absolute;
      background-color: gray;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
      display: none;
    }

    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }

  </style>
</head>

<body>
  <form action="/filtrar" method='post'>
    <div class="generacionSelect" style="width:200px;">
      <select name="generacion">
        <option value="1">1ª</option>
        <option value="2">2ª</option>
        <option value="3">3ª</option>
        <option value="4">4ª</option>
        <option value="5">5ª</option>
        <option value="6">6ª</option>
        <option value="7">7ª</option>
        <option value="todasgeneraciones">Todos</option>
      </select>
    </div>

    <p>Elige el/los tipo/tipos:</p>
    <select name="tipo1">
      <option value="steel">Acero</option>
      <option value="water">Agua</option>
      <option value="bug">Bicho</option>
      <option value="dragon">Dragón</option>
      <option value="electric">Eléctrico</option>
      <option value="ghost">Fantasma</option>
      <option value="fire">Fuego</option>
      <option value="fairy">Hada</option>
      <option value="ice">Hielo</option>
      <option value="fight">Lucha</option>
      <option value="normal">Normal</option>
      <option value="grass">Planta</option>
      <option value="psychic">Psiquico</option>
      <option value="rock">Roca</option>
      <option value="dark">Siniestro</option>
      <option value="ground">Tierra</option>
      <option value="poison">Veneno</option>
      <option value="flying">Volador</option>
      <option value="todostipos">Todos</option>
    </select>
    <input type="checkbox" name="legendario"/> Legendario<br>

    <p>Ordenar (nº Pokédex):</p>
    <select name="ordenar">
      <option value="Ascendente">Ascendente</option>
      <option value="Descendente">Descendente</option>
    </select>
    <br /><br />
    <input type="submit" value="Buscar">
  </form>
  <br />
  <!-- Trigger/Open The Modal -->
  <button id="boton">Añadir Pokemon</button>

  <!-- The Modal -->
  <div id="ventana" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form action="/nuevoPokemon" method='post'>
        <table style="width:100%" align="center">
          <tr>
            <td>Habilidades</td>
            <td><input type="text" name="abilities" placeholder="Sepáralas por comas..."></td>
            <td>Contra bicho</td>
            <td><select name="against_bug" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>

            <td>Contra siniestro</td>
            <td><select name="against_dark" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
          </tr>
          <tr>
            <td>Contra dragón</td>
            <td><select name="against_dragon" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra eléctrico</td>
            <td><select name="against_electric" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra hada</td>
            <td><select name="against_fairy" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
          </tr>
          <tr>
            <td>Contra lucha</td>
            <td><select name="against_fight" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra fuego</td>
            <td><select name="against_fire" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra volador</td>
            <td><select name="against_flying" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
          </tr>
          <tr>
            <td>Contra fantasma</td>
            <td><select name="against_ghost" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra hierba</td>
            <td><select name="against_grass" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra tierra</td>
            <td><select name="against_ground" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
          </tr>
          <tr>
            <td>Contra hielo</td>
            <td><select name="against_ice" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra normal</td>
            <td><select name="against_normal" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra veneno</td>
            <td><select name="against_poison" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
          </tr>
          <tr>
            <td>Contra psíquico</td>
            <td><select name="against_psychic" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra roca</td>
            <td><select name="against_rock" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Contra acero</td>
            <td><select name="against_steel" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
          </tr>
          <tr>
            <td>Contra agua</td>
            <td><select name="against_water" class="selectAgainst">
                <option value="-"> - </option>
                <option value="0.25"> 0.25 </option>
                <option value="0.5"> 0.5 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
              </select></td>
            <td>Ataque</td>
            <td><input type="text" name="attack" placeholder="Pon un número..."></td>
            <td>Pasos base del huevo</td>
            <td><input type="text" name="base_egg_steps"></td>
          </tr>
          <tr>
            <td>Felicidad base</td>
            <td><input type="text" name="base_happiness"></td>
            <td>Total base</td>
            <td><input type="text" name="base_total"></td>
            <td>Ratio de captura</td>
            <td><input type="text" name="capture_rate"></td>
          </tr>
          <tr>
            <td>Clasificación</td>
            <td><input type="text" name="classfication"></td>
            <td>Defensa</td>
            <td><input type="text" name="defense"></td>
            <td>Exp. de crecimiento</td>
            <td><input type="text" name="experience_growth"></td>
          </tr>
          <tr>
            <td>Altura (m)</td>
            <td><input type="text" name="height_m"></td>
            <td>Salud</td>
            <td><input type="text" name="hp"></td>
            <td>Nombre en japonés</td>
            <td><input type="text" name="japanese_name"></td>
          </tr>
          <tr>
            <td>Nombre</td>
            <td><input type="text" name="name"></td>
            <td>Porcentaje de machos</td>
            <td><input type="text" name="percentage_male"></td>
            <td>Número en la pokédex</td>
            <td><input type="text" name="pokedex_number" value=802></td>
          </tr>
          <tr>
            <td>Velocidad de ataque</td>
            <td><input type="text" name="sp_attack"></td>
            <td>Velocidad de defensa</td>
            <td><input type="text" name="sp_defense"></td>
            <td>Velocidad</td>
            <td><input type="text" name="speed"></td>
          </tr>
          <tr>
            <td>Tipo 1</td>
            <td><input type="text" name="type1"></td>
            <td>Tipo 2</td>
            <td><input type="text" name="type2"></td>
            <td>Peso (kg)</td>
            <td><input type="text" name="weight_kg"></td>
          </tr>
          <tr>
            <td>Generación</td>
            <td><input type="text" name="generation"></td>
            <td>Es legendario</td>
            <td><select name="is_legendary" class="selectAgainst">
                <option value="0"> No </option>
                <option value="1"> Si </option>
              </select></td>
          </tr>
        </table>
        <br />
        <input type="submit" class="send-button" value="Añadir">
      </form>
    </div>

  </div>

  <script>
    // Get the modal
    var ventana = document.getElementById('ventana');

    // Get the button that opens the modal
    var boton = document.getElementById("boton");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    boton.onclick = function () {
      ventana.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      ventana.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == ventana) {
        ventana.style.display = "none";
      }
    }
  </script>

</body>

</html>