body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.imgur.com/iUHX9hO.png");
    background-size: 1000px;
    background-repeat: no-repeat;
  }

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.send-button {
    height: 40px;
    position: relative;
    margin: -20px -50px;
    width: 100px;
    top: 50%;
    left: 50%;
}

.selectAgainst {
    width: 13em
}

.select {
    position: relative;
    margin: 0 auto;
    width: 500px; 
}

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 10px;
    outline: 0;
    border: 2px hidden #000000;
    border-radius: 0px;
    background: #ffffff;
    color: #ff8162;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover, .select select:focus {
    color: #ffffff;
    background: #ff8162;
}

.select select:disabled {
    opacity: 0.8;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 3px;
    height: 3px;
    border: solid #ff8162;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover~.select_arrow, .select select:focus~.select_arrow {
    border-color: #ffffff;
}

.select select:disabled~.select_arrow {
    border-top-color: #cccccc;
}