body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.imgur.com/iUHX9hO.png");
    background-size: 960px;
    background-repeat: no-repeat;
}

pre {
	color: #dddddd;
    font-size: 18px;
    text-align: center;
}

#boton-home {
	margin-top: 18px;
	margin-left: 20px;
	height: 58px;
	width: 58px;
	background: transparent;
	border: none;
	font-size: 0;
}

#mensaje {
	position: absolute;
	top: 230px;
    left: 98px;
}