body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("https://i.imgur.com/iUHX9hO.png");
	background-size: 960px;
	background-repeat: no-repeat;
}

#boton-home {
	margin-top: 18px;
	margin-left: 20px;
	height: 58px;
	width: 58px;
	background: transparent;
	border: none;
	font-size: 0;
}

.styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px;
	/* If you add too much padding here, the options won't show in IE */
	width: 168px;
}

/* -------------------- Rounded Corners */
.rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.blue {
	background-color: #3b8ec2;
}

.blue select {
	color: #fff;
}

#dynamic_select {
	position: absolute;
	top: 445px;
	left: 40px;
	
	font-size: 18px;
	height: 35px;
	padding: 5px;
	/* If you add too much padding here, the options won't show in IE */
	width: 235px;
}